<div class="list-group">
    <a routerLink="/admin" class="list-group-item list-group-item-action active" aria-current="true">
      The current link item
    </a>
    <a routerLink="/admin/maincategory" class="list-group-item list-group-item-action">Maincategory</a>
    <a routerLink="/admin/subcategory" class="list-group-item list-group-item-action">Subcategory</a>
    <a routerLink="/admin/brand" class="list-group-item list-group-item-action">Brand</a>
    <a routerLink="/admin/color" class="list-group-item list-group-item-action">Color</a>
    <a routerLink="/admin/product" class="list-group-item list-group-item-action " aria-disabled="true">Product</a>
  </div>